button {
  font-size: inherit;
  font-weight: 500;
  height: 56px;
  line-height: 56px;
  color: $gray;
  border: 1px solid $light-gray;
  border-radius: 56px;
  padding: 0 56px;
  transition: $transition;
  cursor: pointer;
  &:hover {
      border-color: $gray;
      color: $dark-gray;
  }
  
  &.-active {
      background: $gradient;
      color: #fff;
      font-weight: 700;
      letter-spacing: 0.15px;
      padding: 0 90px;
      border-color: transparent;
  }
  &.-mini {
      height: 40px;
      line-height: 40px;
      padding: 0 28px;
  }
  &.-micro {
      height: 30px;
      line-height: 30px;
      padding: 0 15px;
      font-size: 12px;
  }
  &.-disabled {
      background: $light-gray2;
      border-color: $light-gray2;
      cursor: default;
      &:hover {
          color: $gray;
      }
  }
  &.-red{
      background: $red;
      border-color: $red;
      color: #fff;
      font-weight: 700;
  }
  &.-green{
      background: $green;
      border-color: $green;
      color: #fff;
      font-weight: 700;
  }
  // &.-shadow{
  //   box-shadow: 0px 5px 15px -5px #3c67ff7a
  // }
}
#map button{
  height: unset;
  width: unset;
  padding: unset;
  border-radius: unset;
  background: unset;
  line-height: unset;
}
