.create{
  background: $white;
  padding: 20px;
  border-radius: 13px;
  margin-top: 50px;
  max-height: 200px;
  h3{
    margin-bottom: 20px;
  }
  .wrap{
    display: flex;
    .medias{
      flex-basis: 100px;
    }
    .description{
      flex-basis: 70%;
      display: flex;
      flex-wrap: wrap;
      .row{
        flex-basis: 100%;
        margin-bottom: 20px;
        &.-half{
          flex-basis: 50%;
          max-width: 50%;
          padding-right: 20px;
        }
      }
    }
  }
}