%media{
  border-radius: 13px;
  object-fit: cover;
  width: 80px;
  height: 80px;
}
.media{
  @extend %media;
  img{
    @extend %media;
  }
  &.-empty{
    color: $gray;
    display: flex;
    justify-content: center;
    font-size: 12px;
    align-items: center;
    cursor: pointer;
    background: $light-gray2;
    border: 2px dashed $gray;
    position: relative;
  }
}
.medias{
  input{
    cursor: pointer;
    opacity: 0;
    position: absolute;
    @extend %media;
  }
}