%px80{
  width: 80px;
  height: 80px;
}
.product{
  display: flex;
  background: $white;
  padding: 10px;
  border-radius: 13px;
  margin-bottom: 10px;
  .image, .no-image{
    flex-basis: 100px;
    @extend %px80;
    .media{
      @extend %px80;
      img{
        @extend %px80;
      }
    }
  }
  .no-image{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: $gray;
  }
  .body{
    flex-basis: 40%;
  }
  .created, .price{
    flex-basis: 15%;
  }
  .body, .created, .actions, .price{
    display: flex;
    align-items: center;
  }
  .title p, .created{
    color: $gray;
    font-size: 12px;
  }
  .title{
    h3,p{
      max-width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    p{
      height: 30px;
      line-height: 30px;
    }
  }
  .actions{
    flex-basis: 50px;
    
    justify-content: space-between;
    .icon{
      width: 15px;
      height: 15px;
      cursor: pointer;
      svg{
        width: 100%;
        height: 100%;
        
        path{
          fill: $gray;
        }
      }
    }
  }
}
@media all and (max-width: 767px){
  %px100{
    width: 60px;
    height: 60px;
  }
  .product{
    .image{
      flex-basis: 70px;
    }
    .title{
      h3{
        max-width: 90px;
      }
    }
  }
}