%hl {
  height: 56px;
  line-height: 56px;
}
input {
  @extend %hl;
  display: flex;
  padding: 0;
  border-bottom: 1px solid $light-gray;
  font-size: inherit;
  transition: $transition;
  position: relative;
  z-index: 1;
  &:focus {
      border-color: $primary;
  }
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  &:disabled{
      border-color: transparent;
      color: $gray;
  }
  
}
.ui-input {
  display: flex;
  position: relative;
  span {
      @extend %hl;
      position: absolute;
      z-index: 0;
      color: $gray;
      transition: $transition;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  }
  &.-up {
      span {
          transform: translate(0, -20px);
          font-size: 12px;
      }
  }
  &.-icon {
      span,
      input {
          padding-left: 25px;
      }
      svg {
          position: absolute;
          top: 20px;
          width: 14px;
          height: 14px;
          path {
              fill: $gray;
          }
      }
  }
}

@media all and (max-width:767px){
  .ui-input{
      span{
          max-width: 200px;
      }
  }
}