.products{
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  .wrapper{
    width: 100%;
    display: flex;
    padding-top: 50px;
    .create, .list{
      padding: 20px;
    }
    .create{
      flex-basis: 40%;
    }
    .more{
      display: flex;
      width: 100%;
      font-size: 12px;
      cursor: pointer;
      height: 40px;
      align-items: center;
      justify-content: center;
      text-align: center;
      text-decoration: underline;
      color: $gray;
      &:hover{
        color: $primary;
      }
    }
    .list{
      flex-basis: 60%;
      .header{
        height: 30px;
        align-items: center;
        font-size: 12px;
        color: $gray;
        display: flex;
        .image{
          flex-basis: 100px;
        }
        .created, .price{
          flex-basis: 15%;
          cursor: pointer;
        }
        .body{
          flex-basis: 40%;
        }
        .actions{
          flex-basis: 50px;
        }
      }
    }
  }
}
@media all and (max-width:767px) {
  .products{
    .wrapper{
      display: block;
      padding: 20px 15px;
      .list{
        padding: 20px 0;
        .header{
          .image{
            flex-basis: 80px;
          }
        }
      }
    }
  }
}