.sign{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  .wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 300px;
    width: 360px;
    background: $white;
    border-radius: 30px;
    padding: 30px 45px;
    .ui-input, input{
      width: 100%;
    }
    .ui-input{
      margin-bottom: 10px;
    }
    h1{
      width: 100%;
      display: flex;
      justify-content: space-between;
      font-size: 20px;
      margin-bottom: 20px;
      span{
        cursor: pointer;
        color: $gray;
        border-bottom: 2px solid transparent;
        &.-active{
          color: $black;
          border-color: $primary;
        }
      }
    }
  }
}