<template>
  <div class="products">
    <div class="wrapper">
      <create-component />
      <div class="list">
        <div class="header" v-if="products.length">
          <div class="image"></div>
          <div class="body"></div>
          <div @click="toggleSort('created')" class="created">created</div>
          <div @click="toggleSort('price')" class="price">price</div>
          <div class="actions"></div>
        </div>
        <product-component
          @edit="editProduct"
          @remove="removeProduct"
          :product="p"
          v-for="p in products"
          :key="p.id"
        />
        <p v-if="!products.length" class="error">no products</p>
        <p v-if="isMoreAvaliable" class="more" @click="getProducts(false)">
          показать еще
        </p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { State, Action, Mutation } from "vuex-class";
import { Product, SetValuePayload } from "../store/types";
import { Options, Vue } from "vue-class-component";
import ProductComponent from "@/components/product.vue";
import CreateComponent from "@/components/create.vue";
import { ProductActionTypes as PAT } from "../store/modules/product/actions";
import { ProductMutationTypes as PMT } from "../store/modules/product/mutations";

@Options({
  name: "Products",
  components: { ProductComponent, CreateComponent },
})
export default class Products extends Vue {
  @State("isMoreAvaliable", { namespace: "product" }) isMoreAvaliable!: boolean;
  @State("products", { namespace: "product" }) products!: Product[];
  @Action(PAT.GET_PRODUCTS) getProducts!: (isSort?: boolean) => void;
  @Action(PAT.UPDATE_PRODUCT) update!: () => void;
  @Action(PAT.DELETE_PRODUCT) remove!: (id?: string) => void;
  @Mutation(PMT.SET_VALUE) setValue!: (args: SetValuePayload) => void;
  @Mutation(PMT.TOGGLE_SORT) sort!: (type: string) => void;
  editProduct(value: Product): void {
    this.setValue({ key: "product", value });
  }
  removeProduct(product: Product): void {
    this.remove(product?._id);
  }
  beforeMount(): void {
    this.getProducts();
  }
  toggleSort(type: string): void {
    this.sort(type);
    this.getProducts(true);
  }
}
</script>
