<template>
  <div class="sign">
    <div class="wrapper">
      <h1 @click="toggleSign">
        <span :class="{ '-active': isSignin }">Signin</span>
        <span :class="{ '-active': !isSignin }">Signup</span>
      </h1>
      <ui-input
        @value="setValue"
        :keys="'email'"
        :placeholder="'Email'"
        :value="email"
        :type="'email'"
        :autocomplete="'off'"
      >
        <template v-slot:icon>
          <i-user />
        </template>
      </ui-input>
      <ui-input
        @value="setValue"
        @enter="loginAction"
        :keys="'password'"
        :placeholder="'Password'"
        :type="'password'"
        :value="password"
      >
        <template v-slot:icon>
          <i-lock />
        </template>
      </ui-input>
      <button
        :class="[email && password ? '-active' : '-disabled']"
        @click="loginAction"
      >
        <span v-if="isSignin">Войти</span>
        <span v-else>Регистрация</span>
      </button>
      <p class="error" v-if="error">{{ error }}</p>
    </div>
  </div>
</template>

<script lang="ts">
const namespace = "user";
import router from "../router/index";
import { State, Mutation, Action } from "vuex-class";
import {
  UserActionTypes as AT,
  UserLoginPayload,
} from "../store/modules/user/actions";
import { UserMutationTypes as MT } from "../store/modules/user/mutations";
import { Options, Vue } from "vue-class-component";
import { SetValuePayload, SetSubValuePayload } from "../store/types";
import { getCookie } from "../utils/helper";

@Options({ name: "Login" })
export default class Login extends Vue {
  @State("isAuthenticated", { namespace }) isAuthenticated!: boolean;
  @State("loadings", { namespace }) loadings!: { [k: string]: boolean };
  @State("errors", { namespace }) errors!: { [k: string]: boolean };
  @State("error", { namespace }) error!: string;
  @State("isSignin", { namespace }) isSignin!: string;
  @Action(AT.LOGIN) login!: (args: UserLoginPayload) => Promise<boolean>;
  @Mutation(MT.SET_VALUE) valueSet!: (args: SetValuePayload) => void;
  @Mutation(MT.SET_SUB_VALUE) setSubValue!: (args: SetSubValuePayload) => void;
  @Mutation(MT.SET_USER_AUTHENTICATED) auth!: (pay: { token: string }) => void;
  public email = "";
  public password = "";
  toggleSign(): void {
    this.valueSet({
      key: "isSignin",
      value: !this.isSignin,
    });
  }
  async loginAction(): Promise<void> {
    await this.login(this as UserLoginPayload);
    if (this.isAuthenticated) {
      router.push({ name: "products" });
    }
  }
  mounted(): void {
    const token = getCookie();
    if (token) {
      this.auth({ token });
      router.push({ name: "products" });
    }
  }
  setValue({ key, value }: SetValuePayload): void {
    if (typeof value === "string") {
      if (key === "email") {
        this.email = value.toLowerCase();
      } else {
        this.password = value;
      }
    }
  }
}
</script>
