html {
  font-family: "SF UI Text", -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;;
  font-weight: 400;
  font-size: 16px;
  color: $black;
  letter-spacing: 0.15px;
  background: $light2;
}
html,body, #app{
  width: 100%;
  height: 100%;
}
.error{
  text-align: center;
  margin: 10px;
  font-size: 12px;
  color: $gray;
}