body,
html,
h1,
h2,
h3,
h4,
h5,
p,
ul {
    margin: 0;
    padding: 0;
}
button,
input {
    outline: none;
    background: transparent;
    border: none;
}
ul li {
    list-style: none;
    padding: 0;
}
a,
a:visited,
a:active,
a:hover {
    text-decoration: none;
    color: inherit;
}
* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    letter-spacing: -0.2px;
    outline: none !important;
}
html {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
html::-webkit-scrollbar {
    width: 0px; /* For Chrome, Safari, and Opera */
}
* {
    ::-webkit-scrollbar {
        width: 0px !important;
    }
}
