$black: #22272e;
$dark-gray: #757a81;
$gray: #9fa6af;
$light: #f8f9fa;
$light2: #f0f1f5;
$light-gray: #e8ebee;
$light-gray2: #ebeff2;
$primary: #348ffd;
$blue: #0c5cc3;
$green: #00b76a;
$light-green: #40eea7;
$red: #ff5170;
$gradient: linear-gradient(85.65deg, #9916ff 0%, #3c67ff 100%);
$layout: rgba(0, 0, 0, 0.78);
$white: #fff;
//
$transition: all 125ms ease;