<template>
  <div class="create">
    <h3>Добавить товар</h3>
    <div class="wrap">
      <div class="medias" v-if="product">
        <input
          ref="import_file"
          @change="handleFile"
          hidden
          type="file"
          multiple="true"
        />
        <ui-media
          v-for="media in product.medias"
          :filename="media.filename"
          :key="media._id"
        />
        <div class="media -empty" v-if="!product || !product.medias.length">
          <span>upload</span>
          <input
            ref="import_file"
            @change="handleFile"
            hidden
            type="file"
            multiple="true"
          />
        </div>
      </div>
      <div class="description">
        <div class="row -half">
          <ui-input
            @value="handleInput"
            :keys="'name'"
            :placeholder="'Название'"
            :value="product.name"
          />
        </div>
        <div class="row -half">
          <ui-input
            @value="handleInput"
            :keys="'price'"
            :placeholder="'Цена'"
            :value="product.price.toString()"
          />
        </div>
        <div class="row">
          <button @click="create" class="-active -micro" v-if="isNew">
            Создать
          </button>
          <button @click="update" class="-green -micro" v-else>Обновить</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { Options, Vue } from "vue-class-component";
import { State, Mutation, Action } from "vuex-class";
import {
  Product,
  Media,
  SetSubValuePayload,
  SetValuePayload,
} from "@/store/types";
import { ProductMutationTypes as PMT } from "@/store/modules/product/mutations";
import { ProductActionTypes as PAT } from "@/store/modules/product/actions";
import { processFileUpload } from "@/utils/helper";
@Options({ name: "CreateComponent" })
export default class ProductComponent extends Vue {
  @State("product", { namespace: "product" }) product!: Product;
  @Mutation(PMT.SET_SUB_VALUE) setSubValue!: (args: SetSubValuePayload) => void;
  @Mutation(PMT.SET_PRODUCT_MEDIAS) setProductMedias!: (args: Media[]) => void;
  @Action(PAT.CREATE_PRODUCT) create!: () => void;
  @Action(PAT.UPDATE_PRODUCT) update!: () => void;
  @Action(PAT.UPLOAD_MEDIAS) uploadFile!: (
    args: FormData
  ) => Promise<Media[] | null>;
  get isNew(): boolean {
    return typeof this.product._id === "undefined";
  }
  async handleFile(): Promise<void> {
    const import_file = this.$refs.import_file as HTMLInputElement;
    const formData = await processFileUpload(import_file);
    const files = await this.uploadFile(formData);
    if (files) {
      this.setProductMedias(files);
    }
  }
  handleInput({ key, value }: SetValuePayload): void {
    this.setSubValue({
      key: "product",
      sub: key,
      value,
    });
  }
}
</script>
