<template>
  <div
    class="ui-input"
    :class="{ '-up': isFocus || value, '-icon': $slots.icon }"
  >
    <slot name="icon" />
    <span v-if="placeholder">{{ placeholder }}</span>
    <input
      @focus="changeFocus(true)"
      @blur="changeFocus(false)"
      @keyup="$emit('value', eValue(keys, $event))"
      @change="$emit('value', eValue(keys, $event))"
      @paste="$emit('value', eValue(keys, $event))"
      @keyup.enter="$emit('enter')"
      :type="type"
      :value="value"
      :disabled="disabled"
      :autocomplete="autocomplete"
    />
  </div>
</template>
<script lang="ts">
import { Options, Vue } from "vue-class-component";
import { SetValuePayload } from "../store/types";
@Options({
  name: "Input",
  emits: ["value", "enter"],
  props: {
    keys: {
      type: String,
      required: true,
    },
    type: {
      type: String,
      default: "text",
    },
    autocomplete: {
      type: String,
      default: "off",
    },
    value: String,
    disabled: {
      type: Boolean,
      default: false,
    },
    placeholder: String,
  },
})
export default class Input extends Vue {
  public keys!: string;
  public value!: string;
  public placeholder!: string;
  public type!: string;
  public autocomplete!: string;
  public disabled!: boolean;
  public isFocus = false;
  changeFocus(state: boolean): void {
    this.isFocus = state;
  }
  eValue(
    key: string,
    event: { target: HTMLInputElement & { value: unknown } }
  ): SetValuePayload {
    const { value } = event.target;
    return { key, value };
  }
}
</script>
