<template>
  <div class="media">
    <img :src="src" />
  </div>
</template>
<script lang="ts">
import { Options, Vue } from "vue-class-component";
@Options({
  name: "MediaComponent",
  props: {
    filename: {
      type: String,
    },
  },
})
export default class MediaComponent extends Vue {
  public filename!: string;
  get src(): string {
    return `${process.env.VUE_APP_API_URL}/static/${this.filename}`;
  }
}
</script>
