<template>
  <div class="product">
    <div class="image">
      <ui-media
        :filename="media.filename"
        :key="media.id"
        v-for="media in product.medias"
      />
      <div class="no-image" v-if="!product.medias.length">no-image</div>
    </div>
    <div class="body">
      <div class="title">
        <h3>{{ product.name }}</h3>
        <p>{{ product.article }}</p>
      </div>
    </div>
    <div class="created">
      {{ $moment(product.created).format("DD.MM HH:mm") }}
    </div>
    <div class="price">
      <h4>{{ product.price }}</h4>
    </div>
    <div class="actions">
      <div @click="action('edit')" class="icon">
        <i-settings />
      </div>
      <div @click="action('remove')" class="icon">
        <i-trash />
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import moment from "moment";
import { Options, Vue } from "vue-class-component";
import { Product } from "../store/types";
@Options({
  name: "ProductComponent",
  emits: ["edit", "remove"],
  props: {
    product: {
      article: {
        type: String,
        required: true,
      },
      name: {
        type: String,
        default: "text",
      },
      price: {
        type: String,
        default: "off",
      },
    },
  },
})
export default class ProductComponent extends Vue {
  public product!: Product;
  public $moment!: typeof moment;
  action(type: string): void {
    this.$emit(type, this.product);
  }
}
</script>
